@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Klee+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

.dark {
    --body-bg: #141d2f;
    --app-bg: #1e2a47;
    --text-color-one: #fff;
    --text-color-two: #fff;
    --text-color-three: #fff;
    --theme-toggle-hover-color: #90a4d4;
    --box-shadow: none;
}

.light {
    --body-bg: #f6f8ff;
    --app-bg: #fefefe;
    --text-color-one: #4b6a9b;
    --text-color-two: #222731;
    --text-color-three: #697c9a;
    --theme-toggle-hover-color: #222731;
    --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-bg);
}

.container {
    width: 100%;
    max-width: 400px;
}